{% extends "alumni/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <h6 class="text-secondary">Email id : {{ pro.email_id }}</h6><br>
              <h6>Current Status : {{ pro.status }}</h6>
             <h6> Contact Number : {{ pro.mobile_no }} </h6>
              <h6>Current Year : {{ pro.current_year}}</h6>
              <hr />
              <h6 style="color:sienna;"><b>A short Note about Myself</b></h6>
              <hr />
              <p>{{ pro.short_note_about_yourself }}</p>
          </p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ p_form|crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Update</button>
            </div>
        </form>
    </div>
{% endblock content %}